h1, h2, h3, h4, h5, h6 {
  color: #444;
}

/* Контейнер для основного содержимого */
.container {
  margin: 64px auto 0 auto; /* top, right, bottom, left */
  max-width: 1200px;
  padding: 20px;
}


/* Стили для header (уже были ранее) */
header {
  color: white;
  padding: 10px 0;
  text-align: center;
}

/* Стили для footer */
footer {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}