/* Navigation.css */

/* Обнулить отступы для списка */
.listItem {
    padding: 0;
}

/* Стили для ссылок */
.listItem a {
    text-decoration: none; /* Убрать подчеркивание */
    color: inherit; /* Наследовать цвет текста от родительского элемента */
    width: 100%; /* Растянуть ссылку на всю ширину элемента списка */
    padding: 8px 16px; /* Добавить небольшой отступ */
    display: block; /* Сделать ссылки блочными элементами, чтобы они занимали всю ширину элемента списка */
}

/* Добавить эффект при наведении */
.listItem a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Легкое затемнение фона при наведении */
}

/* Стили для Drawer */
.MuiDrawer-paper {
    width: 250px; /* Задать ширину Drawer */
}

/* Стили для AppBar */
.MuiAppBar-root {
    background-color: #3f51b5; /* Задать фоновый цвет AppBar */
}

/* Стили для иконки меню */
.MuiIconButton-root {
    color: #ffffff; /* Задать цвет иконки меню */
}
