.burger {
    display: none; /* Скрыть бургер-иконку по умолчанию */
}

.menu-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.menu-links li {
    margin-right: 20px; /* Или любое другое значение отступа */
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .burger {
        display: block; /* Показать бургер-иконку на мобильных устройствах */
    }

    .menu-links {
        display: none; /* Скрыть меню по умолчанию на мобильных устройствах */
    }

    .menu-links.open {
        display: flex; /* Показать меню, когда оно открыто */
        flex-direction: column; /* Сделать меню вертикальным */
    }
}
